__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.venv
venv/
ENV/
env/
.idea
.vscode
*.sqlite
*.db
instance/
uploads/
.DS_Store
docker-compose.yml
docker-compose.override.yml
README.md
.gitignore