# Веб-фреймворк для создания приложений
Flask==3.0.0

# Расширение для работы с формами и защитой от CSRF
Flask-WTF==1.2.1

# Основная библиотека Flask для маршрутизации и сервера
Werkzeug==3.0.1

# ORM для работы с базой данных
SQLAlchemy==2.0.23

# Интеграция SQLAlchemy с Flask
Flask-SQLAlchemy==3.1.1

# Работа с файлами Excel (.xlsx)
openpyxl==3.1.2

# Проверка корректности email-адресов
email-validator==2.0.0.post2

# Загружает переменные окружения из файла .env
python-dotenv==1.0.0

# Управление входом и сессиями пользователей
flask-login==0.6.3